Repository kiali/kiali, pull requests merged in 2022-12, with the labels that each got.

#5653 Skip "Missing Sidecar" on Ingress Gateways from all namespaces.
  business/apps.go
  frontend/src/components/Details/DetailDescription.tsx
  frontend/src/components/MissingSidecar/MissingSidecar.tsx
  frontend/src/components/VirtualList/Config.ts
  frontend/src/components/VirtualList/Renderers.tsx
  frontend/src/helpers/LabelFilterHelper.ts
  frontend/src/helpers/__tests__/LabelFilterHelper.test.ts
  frontend/src/pages/ServiceDetails/ServiceDescription.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDescription.tsx
  frontend/src/types/App.ts
  models/app.go
Labels: backport/v1.57

#5625 Added smoke test for the new Overview page brought in 1.57.
  frontend/cypress/integration/common/overview.ts
  frontend/cypress/integration/featureFiles/overview.feature
Labels: cypress

#5667 [v1.57] An attempt to fix timing issue resulting in missing side car
  hack/istio/install-error-rates-demo.sh
  hack/istio/install-fraud-detection-demo.sh
  hack/istio/install-testing-demos.sh
  hack/istio/install-travel-agency-demo.sh
Labels: maintenance

#5494 [Cypress] Minor improvements regarding visual regression testing
  frontend/cypress/integration/common/apps.ts
  frontend/cypress/integration/common/workloads.ts
  frontend/cypress/integration/featureFiles/apps.feature
  frontend/cypress/integration/featureFiles/workloads.feature
Labels: cypress

#5484 [Cypress] Smoke tests around the login page
  frontend/cypress/integration/common/kiali_login.ts
  frontend/cypress/integration/featureFiles/kiali_login.feature
Labels: cypress
