Repository kiali/kiali, pull requests merged in 2023-06, with the labels that each got.

#6205 Create kube client with common funcions
  config/config.go
  tests/integration/assets/remote-istiod/proxy-patch.yaml
  tests/integration/tests/applications_test.go
  tests/integration/tests/config_validations_test.go
  tests/integration/tests/dashboards_test.go
  tests/integration/tests/external_host_node_test.go
  tests/integration/tests/graph_badges_test.go
  tests/integration/tests/graph_nodes_test.go
  tests/integration/tests/graph_test.go
  tests/integration/tests/istio_config_test.go
  tests/integration/tests/kiali_metrics_test.go
  tests/integration/tests/kiali_urls_test.go
  tests/integration/tests/namespaces_test.go
  tests/integration/tests/no_istiod_test.go
  tests/integration/tests/pod_logs_test.go
  tests/integration/tests/remote_istiod_test.go
  tests/integration/tests/services_test.go
  tests/integration/tests/traces_spans_test.go
  tests/integration/tests/workloads_test.go
  tests/integration/utils/kiali/kiali_client.go
  tests/integration/utils/kube/kube_client.go
Labels: enhancement

#6219 Upgrade go version to 1.20
  Makefile
  go.mod
  go.sum
  handlers/authentication_test.go
  kiali_test.go
  make/Makefile.build.mk
  server/server_test.go
  tools/generator/generator.go
Labels: enhancement, backport/v1.48, backport/v1.57, backport/v1.65

#6109 Test objects cleanup related to the Istio Config Wizard
  frontend/cypress/integration/common/wizard_istio_config.ts
  frontend/cypress/integration/featureFiles/wizard_istio_config.feature
Labels: test-cypress :robot:

#6252 added container readme for v1.65 [OSSM-1216]
  frontend/cypress/README.md
Labels: test-cypress :robot:

#6309 Set go version 1.20.5
  Makefile
Labels: backport/v1.48, backport/v1.57, backport/v1.65

#6305 Cypress Kiali Login test fix
  frontend/cypress/integration/common/kiali_login.ts
Labels: test-cypress :robot:

#6313 login fix backport (#6305)
  frontend/cypress/integration/common/kiali_login.ts
Labels: test-cypress :robot:, backport/v1.65

#6325 Rename cluster param for clusterMesh
  frontend/src/app/History.ts
  frontend/src/components/BreadcrumbView/BreadcrumbView.tsx
  frontend/src/components/CytoscapeGraph/ContextMenu/NodeContextMenu.tsx
  frontend/src/components/CytoscapeGraph/MiniGraphCard.tsx
  frontend/src/components/DetailDescription/DetailDescription.tsx
  frontend/src/components/Link/IstioObjectLink.tsx
  frontend/src/components/Link/ServiceLink.tsx
  frontend/src/components/Link/WorkloadLink.tsx
  frontend/src/components/Metrics/CustomMetrics.tsx
  frontend/src/components/TrafficList/TrafficListComponent.tsx
  frontend/src/components/VirtualList/Renderers.tsx
  frontend/src/pages/AppDetails/AppDetailsPage.tsx
  frontend/src/pages/IstioConfigDetails/IstioConfigDetailsPage.tsx
  frontend/src/pages/Overview/OverviewPage.tsx
  frontend/src/pages/ServiceDetails/ServiceDetailsPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/services/Api.ts
  frontend/src/types/MetricsOptions.ts
  handlers/apps.go
  handlers/health.go
  handlers/utils.go
  handlers/utils_test.go
  handlers/workloads.go
Labels: bug

#6257 Demoapps cypress hooks
  frontend/cypress/integration/common/hooks.ts
  frontend/cypress/integration/featureFiles/apps.feature
  frontend/cypress/integration/featureFiles/graph_display.feature
  frontend/cypress/integration/featureFiles/graph_find_hide.feature
  frontend/cypress/integration/featureFiles/graph_replay.feature
  frontend/cypress/integration/featureFiles/graph_toolbar.feature
  frontend/cypress/integration/featureFiles/graph_toolbar_legend.feature
  frontend/cypress/integration/featureFiles/istio_config.feature
  frontend/cypress/integration/featureFiles/overview.feature
  frontend/cypress/integration/featureFiles/services.feature
  frontend/cypress/integration/featureFiles/sidecar_injection.feature
  frontend/cypress/integration/featureFiles/workloads.feature
  hack/istio/cypress/bookinfo-status.sh
  hack/istio/cypress/error-rates-status.sh
  hack/istio/cypress/get-node-architecture.sh
  hack/istio/cypress/sleep-status.sh
  hack/istio/install-sleep-demo.sh
  hack/istio/wait-for-namespace.sh
Labels: test-cypress :robot:
