Repository kiali/kiali, pull requests merged in 2023-04, with the labels that each got.

#5969 Update demo apps hack scripts to support OSSM cluster wide mode
  hack/istio/functions.sh
  hack/istio/install-bookinfo-demo.sh
  hack/istio/install-error-rates-demo.sh
  hack/istio/install-fraud-detection-demo.sh
  hack/istio/install-testing-demos.sh
  hack/istio/install-travel-agency-demo.sh
Labels: test-free :ballot_box_with_check:

#5986 XML reporting upgrade + get istio shell script fix
  frontend/reporter-config.json
  hack/istio/download-istio.sh
Labels: test-free :ballot_box_with_check:

#5948 [OSSM-3538] removed duplicate scenario names
  frontend/cypress/integration/featureFiles/app_details.feature
  frontend/cypress/integration/featureFiles/graph_display.feature
  frontend/cypress/integration/featureFiles/graph_toolbar.feature
  frontend/cypress/integration/featureFiles/istio_config_editor.feature
  frontend/cypress/integration/featureFiles/istio_config_type_filters.feature
  frontend/cypress/integration/featureFiles/istio_config_validation_filters.feature
  frontend/cypress/integration/featureFiles/kiali_cookie.feature
  frontend/cypress/integration/featureFiles/kiali_homepage.feature
  frontend/cypress/integration/featureFiles/kiali_login.feature
  frontend/cypress/integration/featureFiles/service_details.feature
  frontend/cypress/integration/featureFiles/services.feature
  frontend/cypress/integration/featureFiles/workloads.feature
Labels: test-cypress :robot:

#5997 cherrypicking fixes for polarion to Kiali v1.57 [OSSM-3538]
  frontend/cypress/integration/featureFiles/app_details.feature
  frontend/cypress/integration/featureFiles/graph_display.feature
  frontend/cypress/integration/featureFiles/graph_toolbar.feature
  frontend/cypress/integration/featureFiles/istio_config_editor.feature
  frontend/cypress/integration/featureFiles/istio_config_type_filters.feature
  frontend/cypress/integration/featureFiles/istio_config_validation_filters.feature
  frontend/cypress/integration/featureFiles/kiali_cookie.feature
  frontend/cypress/integration/featureFiles/kiali_homepage.feature
  frontend/cypress/integration/featureFiles/kiali_login.feature
  frontend/cypress/integration/featureFiles/service_details.feature
  frontend/cypress/integration/featureFiles/services.feature
  frontend/cypress/integration/featureFiles/workloads.feature
  frontend/reporter-config.json
  hack/istio/download-istio.sh
Labels: test-cypress :robot:

#6013 Filtering auto generated DR when a config option is set
  business/istio_validations.go
  kubernetes/filters.go
Labels: bug

#5953 [scale] Add configurable list page options that can streamline fetching
  business/apps.go
  business/health.go
  business/istio_validations.go
  business/services.go
  business/services_test.go
  business/workloads.go
  config/config.go
  frontend/cypress/integration/common/apps.ts
  frontend/cypress/integration/common/istio_config.ts
  frontend/cypress/integration/common/navigation.ts
  frontend/cypress/integration/common/services.ts
  frontend/cypress/integration/common/table.ts
  frontend/cypress/integration/common/workloads.ts
  frontend/cypress/integration/featureFiles/apps.feature
  frontend/cypress/integration/featureFiles/istio_config.feature
  frontend/cypress/integration/featureFiles/kiali_about.feature
  frontend/cypress/integration/featureFiles/kiali_help.feature
  frontend/cypress/integration/featureFiles/kiali_logout.feature
  frontend/cypress/integration/featureFiles/services.feature
  frontend/cypress/integration/featureFiles/workloads.feature
  frontend/src/app/History.ts
  frontend/src/components/Filters/StatefulFilters.tsx
  frontend/src/components/VirtualList/VirtualItem.tsx
  frontend/src/components/VirtualList/VirtualList.tsx
  frontend/src/config/ServerConfig.ts
  frontend/src/pages/AppList/AppListPage.tsx
  frontend/src/pages/AppList/FiltersAndSorts.ts
  frontend/src/pages/IstioConfigList/FiltersAndSorts.ts
  frontend/src/pages/IstioConfigList/IstioConfigListPage.tsx
  frontend/src/pages/ServiceList/FiltersAndSorts.ts
  frontend/src/pages/ServiceList/ServiceListPage.tsx
  frontend/src/pages/WorkloadList/FiltersAndSorts.ts
  frontend/src/pages/WorkloadList/WorkloadListPage.tsx
  frontend/src/types/ErrorRate/__testData__/ErrorRateConfig.ts
  frontend/src/types/Filters.ts
  frontend/src/types/Health.ts
  frontend/src/types/ServerConfig.ts
  frontend/src/types/__testData__/HealthConfig.ts
  graph/telemetry/istio/appender/appender.go
  handlers/apps.go
  handlers/services.go
  handlers/workloads.go
  models/health.go
Labels: requires operator PR, test-cypress :robot:

#6024 Filtering auto generated DR
  business/istio_validations.go
  kubernetes/filters.go
Labels: bug, backport/v1.65

#5990 Applications list for Multicluster
  business/apps.go
  business/apps_test.go
  business/health.go
  business/istio_config.go
  business/layer.go
  frontend/src/components/VirtualList/Config.ts
  frontend/src/config/Config.ts
  frontend/src/helpers/__tests__/LabelFilterHelper.test.ts
  frontend/src/pages/AppDetails/AppDetailsPage.tsx
  frontend/src/pages/AppList/AppListClass.tsx
  frontend/src/pages/AppList/AppListPage.tsx
  frontend/src/services/Api.ts
  frontend/src/types/App.ts
  frontend/src/types/AppList.ts
  handlers/apps.go
  models/app.go
Labels: enhancement

#6045 For apps list return error just if we are in single cluster
  business/apps.go
Labels: bug

#5952 How Kiali Identifies Ambient
  business/apps.go
  business/istio_config.go
  business/services.go
  business/workloads.go
  frontend/src/components/Ambient/AmbientBadge.tsx
  frontend/src/components/Ambient/AmbientLabel.tsx
  frontend/src/components/Details/DetailDescription.tsx
  frontend/src/components/Health/__tests__/HealthDetails.test.tsx
  frontend/src/components/Health/__tests__/HealthIndicator.test.tsx
  frontend/src/components/MissingSidecar/MissingSidecar.tsx
  frontend/src/components/Pf/PfBadges.tsx
  frontend/src/components/VirtualList/Config.ts
  frontend/src/components/VirtualList/Renderers.tsx
  frontend/src/config/ServerConfig.ts
  frontend/src/helpers/LabelFilterHelper.ts
  frontend/src/helpers/__tests__/LabelFilterHelper.test.ts
  frontend/src/pages/AppDetails/AppDetailsPage.tsx
  frontend/src/pages/AppList/AppListClass.tsx
  frontend/src/pages/Overview/ControlPlaneBadge.tsx
  frontend/src/pages/Overview/OverviewPage.tsx
  frontend/src/pages/ServiceDetails/ServiceDescription.tsx
  frontend/src/pages/ServiceList/ServiceListPage.tsx
  frontend/src/pages/ServiceList/__tests__/ServiceListComponent.test.ts
  frontend/src/pages/WorkloadDetails/WorkloadDescription.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadInfo.tsx
  frontend/src/pages/WorkloadList/WorkloadListPage.tsx
  frontend/src/services/Api.ts
  frontend/src/services/__mockData__/getServiceDetail.ts
  frontend/src/store/Selectors/GraphData.ts
  frontend/src/types/App.ts
  frontend/src/types/AppList.ts
  frontend/src/types/ErrorRate/__testData__/ErrorRateConfig.ts
  frontend/src/types/Health.ts
  frontend/src/types/IstioObjects.ts
  frontend/src/types/ServerConfig.ts
  frontend/src/types/ServiceInfo.ts
  frontend/src/types/ServiceList.ts
  frontend/src/types/Workload.ts
  frontend/src/types/__testData__/HealthConfig.ts
  frontend/src/types/__tests__/Health.test.ts
  handlers/config.go
  models/app.go
  models/pod.go
  models/service.go
  models/workload.go
Labels: enhancement, sub-task

#6048 Adjust scroll for Workload Pod Logs
  frontend/src/pages/WorkloadDetails/WorkloadPodLogs.tsx
Labels: bug

#6027 use discovery selectors to filter namespaces
  business/namespaces.go
  config/config.go
  kubernetes/cache/kube_cache_test.go
  kubernetes/cache/tls_test_helper.go
  kubernetes/istio.go
  kubernetes/istio_test.go
  kubernetes/types.go
Labels: test-add-coverage :paperclip:, test-integration :nut_and_bolt:

#6067 Automation of a test procedure related to multiple K8 Gateways with same ports and hosts at the same time
  frontend/cypress/integration/common/wizard_istio_config.ts
  frontend/cypress/integration/featureFiles/wizard_istio_config.feature
Labels: test-cypress :robot:

#6060 Use cluster parameter for permissions check
  business/istio_config.go
  business/istio_config_test.go
  business/mesh.go
  business/services.go
  frontend/src/pages/Overview/OverviewPage.tsx
  frontend/src/pages/Overview/OverviewTrafficPolicies.tsx
  frontend/src/services/Api.ts
  handlers/istio_config.go
  handlers/namespaces.go
Labels: enhancement

#6078 removing flaky login test [OSSM-3772]
  frontend/cypress/integration/featureFiles/kiali_login.feature
Labels: test-cypress :robot:

#6079 [1.57] removing flaky login test [OSSM-3772]
  frontend/cypress/integration/featureFiles/kiali_login.feature
Labels: test-cypress :robot:

#6080 [1.65] removing flaky login test [OSSM-3772]
  frontend/cypress/integration/featureFiles/kiali_login.feature
Labels: test-cypress :robot:
