Repository kiali/kiali, pull requests merged in 2023-09, with the labels that each got.

#6506 Gherkin scenarios for the Multi-cluster Overview page
  frontend/cypress/integration/featureFiles/overview.feature
Labels: test-cypress :robot:

#6556 Multicluster - Gherkin scenarios for graph page
  frontend/cypress/integration/featureFiles/graph_display.feature
Labels: test-cypress :robot:

#6577 Added support of multiple Gateway API classes
  config/config.go
  kubernetes/filters.go
Labels: requires operator PR

#6536 Refactor PFColors
  frontend/src/components/Pf/PfColors.tsx
Labels: enhancement, maintenance

#6594 New hack script for tempo
  hack/istio/tempo/install-tempo-env.sh
  hack/istio/tempo/minio.yaml
Labels: enhancement, sub-task

#6557 Multi-cluster - negative testing against single cluster setup
  frontend/cypress/integration/common/app_details.ts
  frontend/cypress/integration/common/apps.ts
  frontend/cypress/integration/common/graph_context_menu.ts
  frontend/cypress/integration/common/graph_display.ts
  frontend/cypress/integration/common/kiali_help.ts
  frontend/cypress/integration/common/navigation.ts
  frontend/cypress/integration/common/overview.ts
  frontend/cypress/integration/common/service_details.ts
  frontend/cypress/integration/common/wizard_istio_config.ts
  frontend/cypress/integration/common/workloads_details.ts
  frontend/cypress/integration/featureFiles/app_details.feature
  frontend/cypress/integration/featureFiles/apps.feature
  frontend/cypress/integration/featureFiles/graph_context_menu.feature
  frontend/cypress/integration/featureFiles/graph_display.feature
  frontend/cypress/integration/featureFiles/graph_side_panel.feature
  frontend/cypress/integration/featureFiles/istio_config.feature
  frontend/cypress/integration/featureFiles/istio_config_editor.feature
  frontend/cypress/integration/featureFiles/kiali_help.feature
  frontend/cypress/integration/featureFiles/overview.feature
  frontend/cypress/integration/featureFiles/service_details.feature
  frontend/cypress/integration/featureFiles/services.feature
  frontend/cypress/integration/featureFiles/wizard_istio_config.feature
  frontend/cypress/integration/featureFiles/workloads.feature
  frontend/cypress/integration/featureFiles/workloads_details.feature
Labels: test-cypress :robot:

#6602 Added GatewayClassName validations in K8sGateways
  business/checkers/k8sgateway_checker.go
  business/checkers/k8sgateways/gatewayclass_checker.go
  business/checkers/k8sgateways/gatewayclass_checker_test.go
  business/istio_config.go
  business/istio_validations.go
  business/registry_status.go
  business/services.go
  frontend/src/components/DebugInformation/DebugInformation.tsx
  frontend/src/config/ServerConfig.ts
  frontend/src/types/ErrorRate/__testData__/ErrorRateConfig.ts
  frontend/src/types/ServerConfig.ts
  frontend/src/types/__testData__/HealthConfig.ts
  handlers/config.go
  kubernetes/cache/kube_cache.go
  kubernetes/istio.go
  kubernetes/types.go
  models/istio_config.go
  models/istio_validation.go
  tests/data/k8sgateway_data.go
Labels: docs

#6605 Make Multicluster CI use snapshot version and not release version
  hack/istio/multicluster/deploy-kiali.sh
  hack/setup-kind-in-ci.sh
Labels: multicluster

#6631 Removed GatewayClasses reading from K8s, switched validation to configuration Gateway Classes
  business/checkers/k8sgateway_checker.go
  business/checkers/k8sgateways/gatewayclass_checker.go
  business/checkers/k8sgateways/gatewayclass_checker_test.go
  business/istio_config.go
  business/istio_validations.go
  business/registry_status.go
  business/services.go
  kubernetes/cache/kube_cache.go
  kubernetes/filters.go
  kubernetes/istio.go
  kubernetes/types.go
  models/istio_config.go
  models/istio_validation.go
  tests/data/k8sgateway_data.go
Labels: bug, backport/v1.73

#6518 Kiali client for Tempo API
  business/istio_status_test.go
  business/jaeger.go
  business/jaeger_test.go
  business/layer.go
  config/config.go
  doc.go
  frontend/src/actions/__tests__/JaegerActions.test.ts
  frontend/src/components/JaegerIntegration/JaegerScatter.tsx
  frontend/src/components/JaegerIntegration/TraceTooltip.tsx
  frontend/src/reducers/__tests__/JaegerStateReducer.test.ts
  frontend/src/types/JaegerInfo.ts
  frontend/src/types/Tracing.ts
  frontend/src/utils/tracing/TraceTransform.ts
  go.mod
  go.sum
  handlers/jaeger.go
  jaeger/jaegertest/mock.go
  jaeger/types.go
  models/tracing.go
  observability/tracing.go
  tests/integration/tests/traces_spans_test.go
  tests/integration/utils/kiali/kiali_client.go
  tracing/client.go
  tracing/jaeger/http_client.go
  tracing/jaeger/model.proto
  tracing/jaeger/model/converter/json/from_domain.go
  tracing/jaeger/model/converter/json/process_hashtable.go
  tracing/jaeger/model/hash.go
  tracing/jaeger/model/ids.go
  tracing/jaeger/model/json/model.go
  tracing/jaeger/model/keyvalue.go
  tracing/jaeger/model/model.pb.go
  tracing/jaeger/model/process.go
  tracing/jaeger/model/query.pb.go
  tracing/jaeger/model/spanref.go
  tracing/jaeger/model/time.go
  tracing/jaeger/model/types.go
  tracing/jaeger/query.proto
  tracing/otel/model/converter/converter.go
  tracing/otel/model/converter/converter_test.go
  tracing/otel/model/json/model.go
  tracing/otel/model/types.go
  tracing/tempo/http_client.go
  tracing/tempo/traceQLBuilder.go
  tracing/tracingtest/mock.go
Labels: enhancement, docs, requires operator PR

#6649 Gherkin scenarios for Istio Config page
  frontend/cypress/integration/featureFiles/graph_context_menu.feature
  frontend/cypress/integration/featureFiles/graph_side_panel.feature
  frontend/cypress/integration/featureFiles/service_details.feature
  frontend/cypress/integration/featureFiles/wizard_istio_config_multicluster.feature
  frontend/cypress/integration/featureFiles/wizard_request_routing.feature
Labels: test-cypress :robot:, multicluster-testing

#6647 Istio Status test for Multicluster
  frontend/cypress/integration/featureFiles/kiali_alert.feature
Labels: test-cypress :robot:, multicluster-testing

#6627 Include Ambient annotations in the config
  business/workloads.go
  config/config.go
  frontend/src/components/Ambient/AmbientBadge.tsx
  frontend/src/config/ServerConfig.ts
  frontend/src/pages/Overview/ControlPlaneBadge.tsx
  frontend/src/pages/Overview/OverviewPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadInfo.tsx
  frontend/src/types/ErrorRate/__testData__/ErrorRateConfig.ts
  frontend/src/types/ServerConfig.ts
  frontend/src/types/__testData__/HealthConfig.ts
  handlers/config.go
  models/namespace.go
  models/pod.go
Labels: enhancement, ambient
