Repository kiali/kiali, pull requests merged in 2023-08, with the labels that each got.

#6440 Cypress automation for 'Service details of ServiceEntry fails' fix
  frontend/cypress/integration/common/wizard_istio_config.ts
  frontend/cypress/integration/featureFiles/wizard_istio_config.feature
Labels: test-cypress :robot:

#6468 Adapt run-kiali script to use other tracing backend than Jaeger
  hack/run-kiali.sh
Labels: enhancement

#6479 New package.json target for test developement
  frontend/cypress.config.ts
  frontend/cypress/README.md
  frontend/package.json
Labels: test-cypress :robot:

#6503 Change fixed position for help icon in Envoy tab
  frontend/src/components/Envoy/tables/BaseTable.tsx
Labels: enhancement

#6452 Added new config for kiali URL per cluster name mapping
  business/mesh.go
  config/config.go
Labels: requires operator PR

#6499 Support for OpenTelemetry exporter
  config/config.go
  go.mod
  go.sum
  observability/tracing.go
  observability/tracing_test.go
  server/server_test.go
Labels: enhancement, requires operator PR

#6493 Cypress: refactoring of feature files tags
  frontend/cypress/integration/featureFiles/app_details.feature
  frontend/cypress/integration/featureFiles/app_details_multicluster.feature
  frontend/cypress/integration/featureFiles/apps.feature
  frontend/cypress/integration/featureFiles/graph_context_menu.feature
  frontend/cypress/integration/featureFiles/graph_display.feature
  frontend/cypress/integration/featureFiles/graph_find_hide.feature
  frontend/cypress/integration/featureFiles/graph_replay.feature
  frontend/cypress/integration/featureFiles/graph_side_panel.feature
  frontend/cypress/integration/featureFiles/graph_toolbar.feature
  frontend/cypress/integration/featureFiles/graph_toolbar_legend.feature
  frontend/cypress/integration/featureFiles/istio_config.feature
  frontend/cypress/integration/featureFiles/istio_config_editor.feature
  frontend/cypress/integration/featureFiles/istio_config_type_filters.feature
  frontend/cypress/integration/featureFiles/istio_config_validation_filters.feature
  frontend/cypress/integration/featureFiles/kiali_about.feature
  frontend/cypress/integration/featureFiles/kiali_alert.feature
  frontend/cypress/integration/featureFiles/kiali_cookie.feature
  frontend/cypress/integration/featureFiles/kiali_help.feature
  frontend/cypress/integration/featureFiles/kiali_login.feature
  frontend/cypress/integration/featureFiles/kiali_logout.feature
  frontend/cypress/integration/featureFiles/kiali_sidebar_toggle.feature
  frontend/cypress/integration/featureFiles/overview.feature
  frontend/cypress/integration/featureFiles/service_details.feature
  frontend/cypress/integration/featureFiles/services.feature
  frontend/cypress/integration/featureFiles/sidecar_injection.feature
  frontend/cypress/integration/featureFiles/wizard_istio_config.feature
  frontend/cypress/integration/featureFiles/wizard_k8sgw_api_routing.feature
  frontend/cypress/integration/featureFiles/wizard_request_routing.feature
  frontend/cypress/integration/featureFiles/workload_logs.feature
  frontend/cypress/integration/featureFiles/workloads.feature
  frontend/cypress/integration/featureFiles/workloads_details.feature
  frontend/cypress/integration/featureFiles/workloads_details_multicluster.feature
  frontend/cypress/integration/featureFiles/workloads_details_multicluster_graph.feature
Labels: test-cypress :robot:

#6524 Cypress: doubled timeouts for flaky test on interop OSSM-4624
  frontend/cypress/integration/featureFiles/workloads_details.feature
Labels: test-cypress :robot:
