Repository kiali/kiali, pull requests merged in 2024-06, with the labels that each got.

#7391 Update cluster tag for traces
  handlers/tracing.go
  models/tracing.go
  tracing/jaeger/http_client.go
  tracing/tempo/http_client.go
Labels: enhancement

#7403 Improve hack scripts for Ambient
  frontend/cypress/integration/featureFiles/graph_display.feature
  hack/istio/install-bookinfo-demo.sh
  hack/istio/install-travel-agency-demo.sh
  hack/run-integration-tests.sh
Labels: enhancement, ambient

#7406 Remove ambient tests from jenkins pipeline tests
  frontend/package.json
Labels: maintenance

#7404 Go version 1.22.1
  .github/workflows/build-backend.yml
  .github/workflows/release.yml
  Makefile
  README.adoc
  go.mod
Labels: maintenance

#7389 Configurable server timeout
  config/config.go
  frontend/src/components/TracingIntegration/TracesFetcher.ts
  server/server.go
Labels: enhancement, requires operator PR

#7191 Negative check added for the Certificates information test
  frontend/cypress/integration/common/kiali_help.ts
  frontend/cypress/integration/featureFiles/kiali_help.feature
Labels: test: front-end/cypress

#7414 Add support for external deployment cluster in mesh cypress test
  frontend/cypress/integration/common/mesh.ts
Labels: test: front-end/cypress

#7419 Don't force parallel edges to be straight
  frontend/src/pages/GraphPF/elements/extendedBaseEdge.ts
  frontend/src/pages/Mesh/elements/extendedBaseEdge.ts
Labels: test: n/a

#7345 Istio Ambient L7 telemetry
  frontend/src/pages/Graph/GraphToolbar/GraphSettings.tsx
  graph/api/api_test.go
  graph/telemetry/istio/appender/aggregate_node.go
  graph/telemetry/istio/appender/aggregate_node_test.go
  graph/telemetry/istio/appender/ambient.go
  graph/telemetry/istio/appender/ambient_test.go
  graph/telemetry/istio/appender/appender.go
  graph/telemetry/istio/appender/response_time.go
  graph/telemetry/istio/appender/response_time_test.go
  graph/telemetry/istio/appender/security_policy.go
  graph/telemetry/istio/appender/security_policy_test.go
  graph/telemetry/istio/appender/throughput.go
  graph/telemetry/istio/appender/throughput_test.go
  graph/telemetry/istio/istio.go
Labels: enhancement, sub-task, ambient

#7424 Hide Enable auto injection menu action for Ambient NS
  config/config.go
  frontend/src/components/IstioWizards/WorkloadWizardDropdown.tsx
  frontend/src/config/ServerConfig.ts
  frontend/src/pages/Overview/OverviewPage.tsx
  frontend/src/types/ErrorRate/__testData__/ErrorRateConfig.ts
  frontend/src/types/ServerConfig.ts
  frontend/src/types/__testData__/HealthConfig.ts
Labels: enhancement, ambient

#7431 [v1.73] Configurable server timeout
  config/config.go
  frontend/src/components/JaegerIntegration/TracesFetcher.ts
  server/server.go
Labels: enhancement

#7436 First pass at supporting ambient/waypoint reporting in metrics queries
  business/metrics.go
  business/metrics_labels_builder.go
  business/metrics_labels_builder_test.go
  frontend/src/components/Metrics/IstioMetrics.tsx
  frontend/src/components/Metrics/__tests__/IstioMetrics.test.tsx
  frontend/src/pages/AppDetails/AppDetailsPage.tsx
  frontend/src/pages/Graph/SummaryPanelAppBox.tsx
  frontend/src/pages/Graph/SummaryPanelCommon.tsx
  frontend/src/pages/Graph/SummaryPanelEdge.tsx
  frontend/src/pages/Graph/SummaryPanelGraph.tsx
  frontend/src/pages/Graph/SummaryPanelNamespaceBox.tsx
  frontend/src/pages/Graph/SummaryPanelNodeTraffic.tsx
  frontend/src/pages/Mesh/target/TargetPanelControlPlane.tsx
  frontend/src/pages/Mesh/target/TargetPanelDataPlaneNamespace.tsx
  frontend/src/pages/Mesh/target/TargetPanelNamespace.tsx
  frontend/src/pages/Overview/OverviewPage.tsx
  frontend/src/pages/ServiceDetails/ServiceDetailsPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/store/Selectors/GraphData.ts
  frontend/src/types/Graph.ts
  frontend/src/types/MetricsOptions.ts
  graph/config/cytoscape/cytoscape.go
  graph/meta.go
  graph/telemetry/istio/appender/mesh_check.go
  handlers/metrics.go
  models/metrics.go
Labels: test: back-end/integration

#7450 Skipp KIA0701 check for waypoint proxy generated service
  business/checkers/services/port_mapping_checker.go
  business/checkers/services/port_mapping_checker_test.go
  business/workloads.go
  config/config.go
  graph/telemetry/istio/appender/ambient.go
  models/pod.go
Labels: test: back-end/integration

#7426 Added new validation check on HTTP/GRPC Route parentRef Service
  business/checkers/k8sgrpcroutes/no_host_checker.go
  business/checkers/k8sgrpcroutes/no_host_checker_test.go
  business/checkers/k8sgrpcroutes/no_k8sgateway_checker_test.go
  business/checkers/k8shttproutes/no_host_checker.go
  business/checkers/k8shttproutes/no_host_checker_test.go
  business/checkers/k8shttproutes/no_k8sgateway_checker_test.go
  models/istio_validation.go
  tests/data/k8sgateway_data.go
  tests/integration/tests/config_validations_test.go
Labels: docs, test: back-end/integration

#7449 Fix graph issue with excluded namespaces
  frontend/src/components/CytoscapeGraph/ContextMenu/NodeContextMenu.tsx
  frontend/src/components/CytoscapeGraph/CytoscapeContextMenu.tsx
  graph/telemetry/istio/appender/ambient.go
  graph/telemetry/istio/appender/ambient_test.go
  graph/telemetry/istio/appender/appender.go
Labels: bug, ambient, test-add-coverage :paperclip:

#7464 Fix the apiVersion of ReferenceGrant in the Kiali wizard
  business/istio_config.go
  frontend/src/components/IstioWizards/WizardActions.ts
Labels: backport needed, test: n/a

#7467 A follow-up for https://github.com/kiali/kiali/issues/7448
  frontend/src/components/CytoscapeGraph/ContextMenu/NodeContextMenu.tsx
  frontend/src/components/CytoscapeGraph/CytoscapeContextMenu.tsx
  frontend/src/pages/GraphPF/components/stylesComponentFactory.tsx
  graph/telemetry/istio/appender/ambient.go
  graph/telemetry/istio/appender/ambient_test.go
  graph/telemetry/istio/appender/appender.go
Labels: test: back-end/integration

#7468 [v1.86] Backport graph fixes for 7448
  frontend/src/components/CytoscapeGraph/ContextMenu/NodeContextMenu.tsx
  frontend/src/components/CytoscapeGraph/CytoscapeContextMenu.tsx
  frontend/src/pages/GraphPF/components/stylesComponentFactory.tsx
  graph/telemetry/istio/appender/ambient.go
  graph/telemetry/istio/appender/ambient_test.go
  graph/telemetry/istio/appender/appender.go
Labels: test: back-end/integration

#7442 apply same flake protection as we did for issue 7256
  frontend/cypress/integration/common/app_details_multicluster.ts
  frontend/cypress/integration/common/graph.ts
  frontend/cypress/integration/common/graph_display.ts
  frontend/cypress/integration/common/graph_find_hide.ts
  frontend/cypress/integration/common/graph_side_panel.ts
  frontend/cypress/integration/common/graph_toolbar.ts
Labels: test: front-end/cypress

#7351 Identify waypoint proxies
  business/test_util.go
  business/workloads.go
  business/workloads_test.go
  config/config.go
  kubernetes/kubetest/mock.go
  models/pod.go
Labels: enhancement, sub-task, ambient, test: back-end/integration
