Repository kiali/kiali, pull requests merged in 2025-09, with the labels that each got.

#8688 [CI] Update Ambient tests
  frontend/cypress/integration/common/graph_display.ts
  frontend/cypress/integration/featureFiles/waypoint.feature
Labels: test: front-end/cypress

#8690 [CI] Revert changes
  frontend/cypress/integration/common/graph_display.ts
Labels: test: front-end/cypress

#8703 [CI] Remove support in testing for Istio 1.23
  frontend/cypress/integration/featureFiles/waypoint.feature
  hack/istio/functions.sh
  hack/run-integration-tests.sh
Labels: ambient, test: front-end/cypress

#8698 [CI] Perses cypress tests
  frontend/cypress/integration/common/workloads_details.ts
  frontend/cypress/integration/featureFiles/mesh.feature
  frontend/cypress/integration/featureFiles/waypoint.feature
  frontend/cypress/integration/featureFiles/workloads_details.feature
  frontend/package.json
  hack/istio/perses/dashboard.yaml
  hack/istio/perses/datasource.yaml
  hack/istio/perses/project.yaml
  hack/istio/perses/values.yaml
  hack/run-integration-tests.sh
  hack/setup-kind-in-ci.sh
Labels: test: front-end/cypress

#8658 [CI] Ambient in MC
  hack/istio/multicluster/env.sh
  hack/istio/multicluster/install-ambient-multicluster.sh
  hack/istio/multicluster/install-multi-primary.sh
  hack/istio/multicluster/resources/zipkin-gw.yaml
  hack/istio/multicluster/setup-tracing.sh
  hack/istio/multicluster/split-bookinfo.sh
  hack/run-integration-tests.sh
  hack/setup-kind-in-ci.sh
Labels: enhancement, ambient

#8726 [CI] ossmc tests
  frontend/cypress/integration/common/apps.ts
  frontend/cypress/integration/common/graph_display.ts
  frontend/cypress/integration/common/navigation.ts
  frontend/cypress/integration/common/transition.ts
  frontend/cypress/integration/featureFiles/app_details.feature
  frontend/cypress/integration/featureFiles/services.feature
  frontend/cypress/integration/featureFiles/waypoint.feature
  frontend/cypress/integration/featureFiles/workloads.feature
  frontend/src/components/DetailDescription/DetailDescription.tsx
  handlers/dashboards.go
  handlers/metrics.go
Labels: test: front-end/cypress

#8739 Fix nil services capturing waypoint path
  business/workloads.go
Labels: bug

#8727 [GH Action] Option to bump to the next version after the tag release creation
  .github/workflows/bump-release-version.yml
  .github/workflows/tag-release-creator.yml
Labels: test: n/a

#8734 Remove Istio Registry usage
  business/controlplane_monitor.go
  config/config.go
  frontend/package.json
  tests/integration/assets/remote-istiod/istiod-debug-service.yaml
  tests/integration/assets/remote-istiod/proxy-patch.yaml
  tests/integration/tests/remote_istiod_test.go
  tests/integration/utils/kiali/instance.go
Labels: maintenance, full-ci

#8750 [CI] Update concurrency group
  .github/workflows/kiali-ci.yml
Labels: github_actions, full-ci

#8744 Upgrade axios frontend dependency
  frontend/package.json
  frontend/yarn.lock
Labels: test: n/a

#8767 Forward x-request-id header to external calls to prometheus
  business/apps.go
  business/dashboards.go
  business/dashboards_test.go
  business/health.go
  business/health_test.go
  business/metrics.go
  business/metrics_test.go
  business/workloads.go
  business/workloads_test.go
  graph/telemetry/istio/appender/health_test.go
  graph/util.go
  handlers/authentication/context_test.go
  handlers/config.go
  handlers/config_test.go
  handlers/dashboards.go
  handlers/health_test.go
  handlers/metrics.go
  make/Makefile.molecule.mk
  observability/tracing.go
  prometheus/client.go
  prometheus/context_headers_roundtripper.go
  prometheus/context_headers_roundtripper_test.go
  prometheus/metrics.go
  prometheus/prometheustest/client_test.go
  prometheus/prometheustest/fake.go
  prometheus/prometheustest/mock.go
  routing/router.go
  routing/router_test.go
  tests/integration/header_propagation_test.go
  util/context/request_headers.go
Labels: test: back-end/integration, AI-assist
