Repository kiali/kiali, pull requests merged in 2025-02, with the labels that each got.

#8114 [cypress] Update mesh cypress testing to be flexible
  frontend/cypress/integration/common/mesh.ts
  frontend/cypress/integration/featureFiles/mesh.feature
Labels: test: front-end/cypress, backport needed

#8116 Update integration tests for Tempo
  tests/integration/tests/traces_spans_test.go
  tests/integration/utils/kiali/kiali_client.go
Labels: test: back-end/integration

#8125 [v2.4 backport] Update integration tests for Tempo (#8116)
  tests/integration/tests/traces_spans_test.go
  tests/integration/utils/kiali/kiali_client.go
Labels: test: back-end/integration

#8127 Fix color comparison in crd validation cypress tests
  frontend/cypress/integration/common/istio_config.ts
Labels: test: front-end/cypress

#8115 Exclude waypoint tracing tests from OCP cypress suite
  frontend/cypress/integration/featureFiles/service_details.feature
  frontend/cypress/integration/featureFiles/waypoint.feature
  frontend/package.json
Labels: test: front-end/cypress

#8103 [ambient] Waypoint Proxy logs
  business/test_util.go
  business/workloads.go
  business/workloads_test.go
  frontend/src/app/History.tsx
  frontend/src/components/Envoy/AccessLogModal.tsx
  frontend/src/components/Pf/PfBadges.tsx
  frontend/src/components/Pf/PfColors.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadPodLogs.tsx
  frontend/src/services/Api.ts
  frontend/src/types/IstioObjects.ts
  handlers/workloads.go
  tests/data/logs/waypoint.log
Labels: enhancement, ambient, test: back-end/integration

#8132 Add ambient logs cypress tests
  frontend/cypress/integration/common/workload_logs.ts
  frontend/cypress/integration/featureFiles/mesh.feature
  frontend/cypress/integration/featureFiles/workload_logs.feature
Labels: enhancement

#8142 Increase timeout of crd validation status cypress tests
  frontend/cypress/integration/common/app_details.ts
  frontend/cypress/integration/common/app_details_multicluster-pf.ts
  frontend/cypress/integration/common/istio_config.ts
  frontend/cypress/integration/common/workloads_details.ts
  frontend/cypress/integration/featureFiles/wizard_istio_config.feature
  frontend/cypress/support/commands.ts
Labels: test: front-end/cypress

#8141 Fix maistra managed namespaces
  istio/discovery.go
  istio/discovery_test.go
  istio/kubernetes.go
  models/mesh.go
Labels: backport needed

#8155 Fine-tune of config validation cypress test
  frontend/cypress/integration/common/istio_config.ts
  frontend/cypress/integration/featureFiles/wizard_istio_config.feature
Labels: test: front-end/cypress

#8122 Support "canonical" handling of app and version labels
  business/apps.go
  business/apps_test.go
  business/controlplane_monitor_test.go
  business/dashboards.go
  business/dashboards_test.go
  business/istio_status.go
  business/istio_validations_perf_test.go
  business/istio_validations_test.go
  business/references/destination_rule_references.go
  business/references/workloadentry_references_test.go
  business/references/workloadgroup_references_test.go
  business/services.go
  business/test_util.go
  business/tls.go
  business/workloads.go
  business/workloads_test.go
  config/config.go
  frontend/cypress/integration/common/overview.ts
  frontend/cypress/integration/common/workloads.ts
  frontend/cypress/integration/featureFiles/workloads.feature
  frontend/public/locales/zh/translation.json
  frontend/src/components/DetailDescription/DetailDescription.tsx
  frontend/src/components/Envoy/EnvoyDetails.tsx
  frontend/src/components/IstioWizards/ServiceWizardDropdown.tsx
  frontend/src/components/IstioWizards/WizardActions.ts
  frontend/src/components/Metrics/CustomMetrics.tsx
  frontend/src/components/MissingLabel/MissingLabel.tsx
  frontend/src/config/ServerConfig.ts
  frontend/src/pages/AppDetails/AppDescription.tsx
  frontend/src/pages/AppDetails/AppDetailsPage.tsx
  frontend/src/pages/ServiceDetails/ServiceDescription.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDescription.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  graph/telemetry/istio/appender/appender.go
  graph/telemetry/istio/appender/idle_node.go
  graph/telemetry/istio/appender/istio_details.go
  graph/telemetry/istio/appender/labeler.go
  graph/telemetry/istio/appender/workload_entry.go
  graph/telemetry/istio/istio.go
  hack/istio/multicluster/install-multi-primary.sh
  handlers/apps_test.go
  handlers/workloads_test.go
  istio/discovery.go
  istio/discovery_internal_test.go
  istio/discovery_test.go
  istio/kubernetes.go
  istio/version.go
  kubernetes/cache/cache.go
  kubernetes/host.go
  mesh/api/api_test.go
  mesh/generator/generator.go
  models/destination_rule.go
  models/mesh.go
  models/namespace.go
  models/pod.go
  models/workload.go
  tests/integration/tests/applications_test.go
Labels: requires docs PR, requires operator PR, test: back-end/integration

#8156 Add hack script to create different waypoint proxies scenarios for testing purposes
  hack/istio/ambient/curl-pod.yaml
  hack/istio/ambient/echo-service.yaml
  hack/istio/ambient/install-waypoints.sh
Labels: enhancement

#8160 Mesh page side-panel improvements/fixes
  frontend/src/pages/Mesh/target/TargetPanelCommon.tsx
  frontend/src/pages/Mesh/target/TargetPanelDataPlaneNamespace.tsx
  frontend/src/pages/Mesh/target/TargetPanelNamespace.tsx
Labels: test: n/a

#8158 [ambient] add ztunnel nodes to mesh page
  business/istio_status.go
  business/workloads.go
  business/workloads_test.go
  frontend/cypress/integration/featureFiles/mesh.feature
  frontend/src/assets/img/mesh/ztunnel-blue-on-transparent.svg
  frontend/src/pages/Mesh/MeshElems.tsx
  frontend/src/pages/Mesh/styles/MeshNode.tsx
  frontend/src/pages/Mesh/target/TargetPanelCommon.tsx
  frontend/src/types/Mesh.ts
  mesh/api/api_test.go
  mesh/api/testdata/test_mesh_graph.expected
  mesh/generator/generator.go
  mesh/types.go
Labels: test: back-end/integration

#8164 Change port name in the istio-ingressgateway route
  hack/istio/install-istio-via-istioctl.sh
Labels: test: n/a

#8173 Istio system applications shown as out of mesh
  business/apps.go
  models/app.go
Labels: bug

#8166 [ambient] fixes to waypoint capture logic
  business/apps.go
  business/services.go
  business/workloads.go
  config/config.go
  frontend/public/locales/zh/translation.json
  frontend/src/components/Ambient/WaypointConfig.tsx
  frontend/src/components/DetailDescription/DetailDescription.tsx
  frontend/src/components/VirtualList/Config.ts
  frontend/src/components/VirtualList/Renderers.tsx
  frontend/src/helpers/__tests__/LabelFilterHelper.test.ts
  frontend/src/pages/AppList/AppListClass.tsx
  frontend/src/pages/ServiceDetails/ServiceDescription.tsx
  frontend/src/pages/ServiceList/ServiceListPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDescription.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadInfo.tsx
  frontend/src/pages/WorkloadList/WorkloadListPage.tsx
  frontend/src/types/App.ts
  frontend/src/types/AppList.ts
  frontend/src/types/ServiceInfo.ts
  frontend/src/types/ServiceList.ts
  frontend/src/types/Workload.ts
  graph/api/api_test.go
  mesh/api/api_test.go
  mesh/api/testdata/test_mesh_graph.expected
  models/workload.go
Labels: test: back-end/integration

#8161 ztunnel workload detail metrics
  business/dashboards.go
  business/metrics.go
  frontend/public/locales/zh/translation.json
  frontend/src/components/Ambient/ZtunnelConfig.tsx
  frontend/src/components/Ambient/ZtunnelMetrics.tsx
  frontend/src/components/Ambient/ZtunnelServicesTable.tsx
  frontend/src/components/Ambient/ZtunnelWorkloadsTable.tsx
  frontend/src/components/Envoy/EnvoyDetails.tsx
  frontend/src/components/Metrics/GrafanaLinks.tsx
  frontend/src/components/Nav/Page/RenderComponentScroll.tsx
  frontend/src/components/Table/SimpleTable.tsx
  frontend/src/config/Config.ts
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/services/Api.ts
  frontend/src/types/Dashboards.ts
  frontend/src/types/Metrics.ts
  handlers/dashboards.go
  models/metrics.go
  routing/routes.go
Labels: enhancement, ambient

#8178 Ambient - Sidecar hack script
  hack/istio/ambient/egress-gateway.yaml
  hack/istio/ambient/install-sidecars-ambient.sh
  hack/istio/ambient/install-waypoints.sh
Labels: enhancement

#8185 Service details validations
  business/checkers/services/port_mapping_checker.go
  business/istio_validations.go
  business/services.go
  business/services_test.go
  business/test_util.go
  config/config.go
  handlers/services.go
  models/workload.go
Labels: bug

#8190 Update ubuntu version on GH actions
  .github/workflows/build-backend.yml
  .github/workflows/build-frontend.yml
  .github/workflows/integration-tests-backend-multicluster-external-controlplane.yml
  .github/workflows/integration-tests-backend.yml
  .github/workflows/integration-tests-frontend-ambient.yml
  .github/workflows/integration-tests-frontend-multicluster-multi-primary.yml
  .github/workflows/integration-tests-frontend-multicluster-primary-remote.yml
  .github/workflows/integration-tests-frontend-tempo.yml
  .github/workflows/integration-tests-frontend.yml
  .github/workflows/molecules.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/tag-creator.yml
  .github/workflows/test-images-creator.yml
  .github/workflows/test-images-release.yml
  .github/workflows/test-images-update-latest.yml
  .github/workflows/version-checker.yml
  RELEASING.md
  tests/integration/utils/exec_client.go
Labels: test: n/a

#8193 [ztunnel] ztunnel metrics in mesh side panel
  business/metrics.go
  frontend/public/locales/zh/translation.json
  frontend/src/config/Config.ts
  frontend/src/pages/Mesh/target/TargetPanel.tsx
  frontend/src/pages/Mesh/target/TargetPanelControlPlaneMetrics.tsx
  frontend/src/pages/Mesh/target/TargetPanelZtunnel.tsx
  frontend/src/services/Api.ts
  frontend/src/types/Metrics.ts
  handlers/dashboards.go
  handlers/metrics.go
  routing/routes.go
Labels: enhancement, ambient
