Repository kiali/kiali, pull requests merged in 2025-01, with the labels that each got.

#8030 Update keycloak image and container
  hack/keycloak.sh
Labels: maintenance

#8009 [ambient] Improve waypoint visualization
  business/services.go
  business/services_test.go
  business/workloads.go
  business/workloads_test.go
  config/config.go
  frontend/public/locales/zh/translation.json
  frontend/src/components/Ambient/AmbientBadge.tsx
  frontend/src/components/Ambient/AmbientLabel.tsx
  frontend/src/components/Ambient/WaypointConfig.tsx
  frontend/src/components/Ambient/WaypointWorkloadsTable.tsx
  frontend/src/components/Ambient/ZtunnelConfig.tsx
  frontend/src/components/DetailDescription/DetailDescription.tsx
  frontend/src/pages/ServiceDetails/ServiceDescription.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDescription.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/types/Ambient.tsx
  frontend/src/types/ServiceInfo.ts
  frontend/src/types/Workload.ts
  kubernetes/kubetest/mock.go
  models/pod.go
  models/service.go
  models/workload.go
Labels: enhancement, ambient

#8037 Use transport to check the version
  status/versions.go
Labels: bug

#8032 [cypress] Waypoint tests
  frontend/cypress/integration/common/waypoint.ts
  frontend/cypress/integration/featureFiles/waypoint.feature
  frontend/src/components/DetailDescription/DetailDescription.tsx
  frontend/src/pages/WorkloadDetails/PodStatus.tsx
  frontend/src/pages/WorkloadDetails/WorkloadPods.tsx
Labels: test: front-end/cypress

#8043 Do not send a stack trace to the user, limit exposure to the kiali po…
  handlers/graph.go
Labels: test: n/a

#8041 replace use of crypto/md5 with crypto/sha256
  graph/api/api_test.go
  graph/api/testdata/test_ambient_graph.expected
  graph/api/testdata/test_app_graph.expected
  graph/api/testdata/test_app_node_graph.expected
  graph/api/testdata/test_complex_graph.expected
  graph/api/testdata/test_mc_source_graph.expected
  graph/api/testdata/test_rates_node_graph_total.expected
  graph/api/testdata/test_rates_none_graph.expected
  graph/api/testdata/test_rates_received_graph.expected
  graph/api/testdata/test_rates_sent_graph.expected
  graph/api/testdata/test_rates_total_graph.expected
  graph/api/testdata/test_service_graph.expected
  graph/api/testdata/test_service_node_graph.expected
  graph/api/testdata/test_versioned_app_graph.expected
  graph/api/testdata/test_versioned_app_node_graph.expected
  graph/api/testdata/test_workload_graph.expected
  graph/api/testdata/test_workload_node_graph.expected
  graph/config/cytoscape/cytoscape.go
  graph/telemetry/istio/appender/extensions.go
  graph/telemetry/istio/istio.go
  kubernetes/client_factory.go
  mesh/api/api_test.go
  mesh/api/testdata/test_mesh_graph.expected
  mesh/config/cytoscape/cytoscape.go
  mesh/generator/generator.go
Labels: test: back-end/integration

#8039 CI molecule test action now tests with multiple Istio versions
  .github/workflows/molecules.yml
  hack/ci-kind-molecule-tests.sh
Labels: test: back-end/integration

#8035 Increase logs period for OSSMC
  frontend/cypress/integration/featureFiles/workload_logs.feature
Labels: test: front-end/cypress

#8040 Fix issue with workload detail navigation
  frontend/src/pages/AppDetails/AppDetailsPage.tsx
  frontend/src/pages/ServiceDetails/ServiceDetailsPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
Labels: test: n/a

#8052 [cy] Add test coverage for waypoint tab
  frontend/cypress/integration/common/waypoint.ts
  frontend/cypress/integration/featureFiles/waypoint.feature
  frontend/public/locales/zh/translation.json
  frontend/src/components/Ambient/WaypointConfig.tsx
  frontend/src/components/Ambient/WaypointWorkloadsTable.tsx
Labels: ambient, test: front-end/cypress

#8067 [cy] Update logs timeout
  frontend/cypress/integration/common/workload_logs.ts
Labels: test: front-end/cypress

#8049 Make sure all inline alerts have correct styles
  frontend/src/app/InitializingScreen.tsx
  frontend/src/components/About/AboutUIModal.tsx
  frontend/src/components/IstioWizards/WizardLabels.tsx
  frontend/src/components/TracingIntegration/TracesComponent.tsx
Labels: test: n/a

#8055 be able to configure /api endpoint to require user authentication
  config/config.go
  routing/routes.go
Labels: requires operator PR

#8072 fix: Store theme in localstorage
  frontend/src/components/Nav/Masthead/ThemeSwitch.tsx
  frontend/src/types/Common.ts
  frontend/src/utils/ThemeUtils.ts
Labels: bug, backport needed

#8090 [cy] Add cypress test coverage for k8s gw waypoint links
  frontend/cypress/integration/common/waypoint.ts
  frontend/cypress/integration/featureFiles/waypoint.feature
Labels: ambient, test: front-end/cypress

#8089 Remove duplicates in summary panel node service links
  frontend/src/pages/Graph/SummaryPanelNode.tsx
Labels: bug

#8088 Use sail in frontend tests
  frontend/cypress/integration/featureFiles/workload_logs.feature
  hack/istio/cypress/get-node-architecture.sh
  hack/istio/install-bookinfo-demo.sh
  hack/istio/install-istio-via-sail.sh
  hack/istio/install-testing-demos.sh
  hack/istio/istio-gateway.yaml
  hack/run-integration-tests.sh
Labels: backport needed

#8063 Ambient tracing
  business/apps.go
  business/layer.go
  business/services.go
  business/services_test.go
  business/tracing.go
  business/tracing_test.go
  business/workloads.go
  frontend/cypress/integration/common/app_details.ts
  frontend/cypress/integration/common/workloads_details.ts
  frontend/cypress/integration/featureFiles/app_details.feature
  frontend/cypress/integration/featureFiles/app_details_multicluster.feature
  frontend/cypress/integration/featureFiles/graph_side_panel-pf.feature
  frontend/cypress/integration/featureFiles/service_details.feature
  frontend/cypress/integration/featureFiles/workload_logs.feature
  frontend/cypress/integration/featureFiles/workloads_details.feature
  frontend/cypress/integration/featureFiles/workloads_details_multicluster.feature
  frontend/package.json
  frontend/src/components/Ambient/WaypointConfig.tsx
  frontend/src/components/TracingIntegration/TracesComponent.tsx
  frontend/src/components/TracingIntegration/TracingResults/SpanDetails.tsx
  frontend/src/components/TracingIntegration/TracingResults/SpanTable.tsx
  frontend/src/pages/AppDetails/AppDetailsPage.tsx
  frontend/src/pages/GraphPF/GraphPF.tsx
  frontend/src/pages/GraphPF/TracePF.ts
  frontend/src/pages/ServiceDetails/ServiceDetailsPage.tsx
  frontend/src/pages/WorkloadDetails/WorkloadDetailsPage.tsx
  frontend/src/types/Ambient.tsx
  frontend/src/types/App.ts
  frontend/src/types/Common.ts
  hack/istio/tempo/install-tempo-env.sh
  hack/run-integration-tests.sh
  handlers/tracing.go
  models/app.go
  models/workload.go
  tracing/otel/model/converter/converter.go
  tracing/otel/model/types.go
  tracing/tempo/grpc_client.go
  tracing/tempo/http_client.go
  tracing/tempo/http_client_test.go
  tracing/tracingtest/responseAmbient.json
Labels: enhancement, ambient, test: front-end/cypress

#8083 Add waypoints and gateways to mesh page
  frontend/cypress/integration/common/mesh.ts
  frontend/cypress/integration/featureFiles/mesh.feature
  frontend/public/locales/zh/translation.json
  frontend/src/actions/ActionKeys.ts
  frontend/src/actions/MeshToolbarActions.ts
  frontend/src/app/History.tsx
  frontend/src/assets/img/mesh/dataplane.svg
  frontend/src/assets/img/mesh/gateway.svg
  frontend/src/assets/img/mesh/node-gateway.svg
  frontend/src/assets/img/mesh/waypoint.svg
  frontend/src/pages/Graph/SummaryPanelStyle.tsx
  frontend/src/pages/Mesh/MeshElems.tsx
  frontend/src/pages/Mesh/MeshHelpTour.tsx
  frontend/src/pages/Mesh/MeshLegendData.ts
  frontend/src/pages/Mesh/MeshPage.tsx
  frontend/src/pages/Mesh/styles/MeshGroup.tsx
  frontend/src/pages/Mesh/styles/MeshNode.tsx
  frontend/src/pages/Mesh/target/TargetPanelCluster.tsx
  frontend/src/pages/Mesh/target/TargetPanelCommon.tsx
  frontend/src/pages/Mesh/target/TargetPanelControlPlane.tsx
  frontend/src/pages/Mesh/target/TargetPanelDataPlane.tsx
  frontend/src/pages/Mesh/target/TargetPanelDataPlaneNamespace.tsx
  frontend/src/pages/Mesh/target/TargetPanelMesh.tsx
  frontend/src/pages/Mesh/target/TargetPanelNamespace.tsx
  frontend/src/pages/Mesh/target/TargetPanelNode.tsx
  frontend/src/pages/Mesh/toolbar/MeshSettings.tsx
  frontend/src/pages/Mesh/toolbar/MeshToolbar.tsx
  frontend/src/pages/Mesh/toolbar/__tests__/__snapshots__/MeshLegend.test.tsx.snap
  frontend/src/reducers/MeshDataState.ts
  frontend/src/services/MeshDataSource.ts
  frontend/src/store/Store.ts
  frontend/src/types/Mesh.ts
  mesh/generator/generator.go
  mesh/options.go
  mesh/types.go
Labels: test: front-end/cypress

#8082 Added filter namespaces per cluster in Graph Validations
  frontend/src/pages/Graph/SummaryPanelGraph.tsx
  frontend/src/utils/Common.ts
  frontend/src/utils/__tests__/Common.test.ts
Labels: test: front-end/cypress

#8109 Fixed filtering WorkloadGroups with empty Spec.Metadata.Labels
  kubernetes/cache/kube_cache.go
Labels: bug, test: n/a

#8110 Fix I18n issue on Mesh Page Display menu help
  frontend/public/locales/zh/translation.json
  frontend/src/pages/Mesh/toolbar/MeshSettings.tsx
Labels: test: n/a
